:root {
  --product-amount: 5;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main {
  width: 100vw;
  height: calc(100vh - 56px);
  overflow-y: overlay;
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(auto, 1200px);
  grid-template-rows: max-content auto;
}

.products-header {
  height: fit-content;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
}

.products {
  padding: 0 0 8px 0;
  display: grid;
  height: calc(100% - 16px);
  align-items: start;
  grid-template-columns: repeat(
    var(--product-amount),
    calc((100% - 32px) / var(--product-amount))
  );
  grid-auto-rows: max-content;
  gap: 8px;
}

@media only screen and (max-width: 1250px) {
  :root {
    --product-amount: 4;
  }
}

@media only screen and (max-width: 960px) {
  :root {
    --product-amount: 3;
  }
}

@media only screen and (max-width: 730px) {
  :root {
    --product-amount: 2;
  }
}

@media only screen and (max-width: 510px) {
  .products {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
}

.product {
  padding: 8px;
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
  border-radius: 8px;
}

.product-img-container {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__image {
  max-width: 160px;
  max-height: 160px;
}

.product__title {
  /* text-align: center; */
  display: -webkit-box;
  height: 36px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  padding: 2px 0;
  margin: 4px 0;
}

.product__description {
  /* text-align: center; */
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  padding: 2px 0;
}

.product-stars {
  margin: 8px 0;
  display: flex;
  /* justify-content: center; */
}

.product-details {
  justify-self: end;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.product__price {
  font-size: 20px;
  font-weight: 500;
}

.product__buy {
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  border: none;
  color: white;
  /* opacity: none; */
  background-color: black;
}

.product-add {
  display: flex;
  gap: 8px;
  height: 32px;
}

.product__plus {
  background: none;
  border: none;
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 0 10px;
}

.product__minus {
  background: none;
  border: none;
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 0 10px;
}

.product__amount {
  text-align: center;
  width: 3rem;
  border-radius: 8px;
  border: 1px solid black;
  outline: none;
  padding: 0 4px;
}
