body {
}

.header {
  width: 100vw;
  height: 56px;
  background-color: rgb(124, 246, 255);
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(auto, 1200px);
}

.header-container {
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-items: center;
  gap: 32px;
  padding: 0 16px;
}

.header-branding {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-branding__title {
  display: flex;
  font-size: 24px;
  font-weight: 900;
}

.header-branding__logo {
  font-size: 24px;
}

.header__link {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
